extends /views/layout/layout
block content
  .container-fluid
    .row-fluid
      .span12
        .boxes-75
block page-scripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/winner.js")
