link(href="/thirdparty/smoothness/jquery-ui-1.10.3.custom.min.css",rel="stylesheet")
link(href="/thirdparty/bootstrap/css/bootstrap.min.css",rel="stylesheet")
link(href="/thirdparty/bootstrap/css/bootstrap-responsive.min.css",rel="stylesheet")
link(href="/thirdparty/font-awesome/css/font-awesome.min.css",rel="stylesheet")
link(href="/stylesheets/style.css",rel="stylesheet")